main {
    display: grid;
    grid-template-rows: 350px 1fr;
    grid-template-areas: 
    'present-poll'
    'past-polls'
    ;
}

#present-poll {
    grid-area: 'present-poll';
}

#past-polls {
    grid-area: 'past-polls';
}

/* #active-poll {
    display: grid;
} */

.poll.controls {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 100px 100px;
    grid-template-rows: auto;
    grid-template-areas: 
        'poll-question       poll-question'
        'answer-1            answer-2'
        'answer1-add-vote    answer2-add-vote'
        'answer1-remove-vote answer2-remove-vote'
        'end-poll-button     end-poll-button'
    ;

}

.poll.question {
    grid-area: poll-question;
}

.answer.one {
    grid-area: answer-1;
}

.answer.two {
    grid-area: answer-2;
}

.answer1.add.vote {
    grid-area: answer1-add-vote;
}

.answer2.add.vote {
    grid-area: answer2-add-vote;
}

.answer1.remove.vote {
    grid-area: answer1-remove-vote;
}

.answer2.remove.vote {
    grid-area: answer2-remove-vote;
}

.end.poll.button {
    grid-area: end-poll-button;
}